# Python Programming Course

# Part 1

In [5]:
# print stmt
print("welcome to python programming language")
print("name : karthik ")

welcome to python programming language
name : karthik

 keys words in python 
 and , del ,global, not , with , as, elif , if , or, yield , assert , else , import , pass, break , except, in , raise , class , finally , is , return , continue , for lambda, try , def , from nonlocal , while

In [6]:
 x = 6
print(x)

6

In [7]:
y = x*7
print(y)

42

In [8]:
str = "hello world"
type(str)

str

In [9]:
int = 9
type(int)

int

In [10]:
float = 9.0
type(float)

float

In [11]:
n = 17
print(n)

17

In [12]:
print(1)
x = 2
print(x)

1
2

In [13]:
3/2

1.5

In [14]:
3//2

1

In [15]:
3+1

4

In [16]:
3-2

1

In [17]:
3%2

1

In [18]:
x = 17
x+17

34

In [19]:
1+2*5/2

6.0

In [21]:
2*((8%5)*(4*(15-3)/(4+2)))

48.0

In [22]:
F = 10
S = 15
print(F+S)

25

In [23]:
F = '100'
S = "150"
print(F+S)

100150

In [24]:
F = "test"
S = 3
print(F*S)

testtesttest

In [ ]:
inp = input()

In [1]:
inp = input("enter  ")

enter  karthik

In [2]:
# simple program

In [2]:
a = int(input("Enter the values of a first operand :"))
b = int(input("Enter the values of a Second operand :"))
sum = a+b
print("The sum of two numbers is :", sum)
sub = a-b
print("The sub of two numbers is :", sub)
mul = a*b
print("The mul of two numbers is :", mul)
div = a/b
print("The div of two numbers is :", div)
rem = a%b
print("The rem of two numbers is :", rem)

Enter the values of a first operand :4
Enter the values of a Second operand :5
The sum of two numbers is : 9
The sub of two numbers is : -1
The mul of two numbers is : 20
The div of two numbers is : 0.8
The rem of two numbers is : 4

In [3]:
# area of triangle

In [4]:
a = int(input("Enter the base"))
b = int(input("Enter the height"))
area = 0.5*a*b
print("area of a triangle is :", area)

Enter the base4
Enter the height5
area of a triangle is : 10.0

In [5]:
# area of circle

In [6]:
r = float(input("Enter the radius of a circle "))
area = 3.142*r*r
print("Area of a circle is ", area)

Enter the radius of a circle 5
Area of a circle is  78.55

In [7]:
a = input("Enter the values of n \n")
n = int(a)
f = (2**(2*n))+1
print("the n format number is ")
print(f)

Enter the values of n
6
the n format number is
4097

In [8]:
e1 = int(input("enter the marks of exam1 \n"))
e2 = int(input("enter the marks of exam2 \n"))
s = int(input("enter the marks scored in sports \n"))
a1 = int(input("enter the marks scored in activity1 \n"))
a2 = int(input("enter the marks scored in activity2 \n"))
a3 = int(input("enter the marks scored in activity3 \n"))
per_exam = (e1+e2)*0.5
per_sports = s*0.2
per_activity = (a1+a2+a3)*0.3
result = per_exam+per_sports+per_activity
print(result)

enter the marks of exam1
45
enter the marks of exam2
56
enter the marks scored in sports
67
enter the marks scored in activity1
45
enter the marks scored in activity2
34
enter the marks scored in activity3
23
94.5

In [11]:
5 == 5

True

In [12]:
5 == 6

False

In [15]:
x = 2
if x > 0:
    print("x is positive")

x is positive

In [16]:
x = int(input("enter the number"))
if x%2 ==0:
    print("even number")
else:
    print("odd number")

enter the number4
even number

In [1]:
a = int(input("enter a "))
b = int(input("enter b "))
c = int(input("enter c "))
if a>b and a>c:
    print("a is bigger")
elif b>a and b>c:
    print("b is bigger")
else:
    print("c is bigger")

enter a 3
enter b 2
enter c 1
a is bigger

In [2]:
year = int(input("enter the year"))
if year%4 ==0 and year%100!=0 or year%400==0:
    print("leap year")
else:
    print("not leap year")

enter the year2019
not leap year

In [3]:
inp = input("enter the fahrenheit Temperature : \n")
try:
    fahr = float(inp)
    cel = (fahr - 32.0)*5.0 /9.0
    print(cel)
except:
    print("please enter a valid number")

enter the fahrenheit Temperature :
90
32.22222222222222

In [4]:
import math

In [5]:
math.sqrt(2)/2.0

0.7071067811865476

In [6]:
import random

In [7]:
for i in range(10):
    x = random.random()
    print(x)

0.7026914573226345
0.8941014257342326
0.6213901193464882
0.5118486145902597
0.8212706801385946
0.4658025950471003
0.47950243373353774
0.8763284715873874
0.31215745880022694
0.7586342673754112

In [8]:
random.randint(5, 10)

7

In [9]:
random.randint(5,10)

10

In [10]:
t = [1,2,3]
random.choice(t)

2

In [11]:
random.choice(t)

3

In [12]:
def print_msg():
    print("name :karthik")
print_msg()

name :karthik

In [13]:
def addtwo(a,b):
    add = a+b
    return add
addtwo(4,5)

9

In [14]:
def str_in(x):
    p = max(x)
    print("maximum character in the string is ", p)
    q = min(x)
    print("minimum charcter in the string is ", q)
    r = len(x)
    print("length of the string is ",r)
st = input("enter ")
str_in(st)

enter karthik
maximum character in the string is  t
minimum charcter in the string is  a
length of the string is  7

In [15]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
n = int(input("enter  "))
res = factorial(n)
print(res)

enter  45
119622220865480194561963161495657715064383733760000000000

In [23]:
def findlen(st):
    count = 0
    for i in st:
        count +=1
    return count
st = input('enter ')
length = findlen(st)
print(length)

enter eshwaramma
10

Part 1 ends here